.location-info {
    position: relative;
    top: -100%;
    right: -60%;
    width: 30%;
    min-height: 20vh;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    font-size: 18px;
    color: white;
}

.location-info ul {
    list-style: none;
    padding: 0;
}

.location-info li {
    padding: 5px 0;
}