.home_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    height: 100vh;
}

.home_summary {
    text-align: justify
}

.girdItemCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    margin-bottom: 8px !important;
}

.home_grid-item {
    position: relative;

}

.home_box {
    border: 2px solid #CACACA;
    margin: auto 5%;
}

.home_image {
    padding: 0 !important;
}