.housing-container {
    padding: 20px;
}

.main-container {
    background-color: #f5f5f5;
    min-height: 100vh;
    height: 100%;
}

.housing_summary {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sliderContainer{
    width: 60%;
}

.girdItemCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}

.housing_filter_header{
    text-align: center !important;
}

.housing_header{
    text-align: center !important;
    padding-top: 20px;
}